.home {
	section.hero {
		min-height: 100vh;
		display: flex;
		align-items: center;
		position: relative;
		@include media-breakpoint-down(sm) {
			background-position: -5% !important;
		}
		@media screen and (max-width: 560px) {
			background-position: 20% !important;
		}
		.hero-image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			background-position: center !important;
		}
		.container {
			max-width: 1400px;
			img {
				width: 100%;
				max-width: 527px;
			}
		}
		h1 {
			color: $white;
			text-transform: uppercase;
			font-size: 75px;
			line-height: 65px;
			font-weight: 900;
			margin: 0px;
			padding: 0px;
			letter-spacing: -6.08px;
			max-width: 550px;
			@include media-breakpoint-down(md) {
				font-size: 36px;
				line-height: 40px;
				letter-spacing: -2.75px;
			}
			@include media-breakpoint-down(sm) {
				color: $color__brand-highlight;
			}
		}
		h2 {
			color: $white;
			font-size: 36px;
			line-height: 44px;
			font-weight: 900;
			padding-top: 0px;
			margin-top: 0px;
			margin-bottom: 20px;
			@include media-breakpoint-down(sm) {
				color: $black;
			}
		}
		h3 {
			color: $white;
			font-size: 18px;
			line-height: 22px;
			font-weight: 700;
			margin-top: 30px;
			margin-bottom: 0;
			@include media-breakpoint-down(sm) {
				color: $black;
			}
		}
	}
}
