.page-template.page-template-page-intelligence {
	background: linear-gradient(to left, #e39600, #dbdb69);
	#primary:before {
		content: '';
		background: url(images/intelligence-overlay.png);
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	section.hero {
		color: $black;
		h1 {
			color: $black;
			strong {
				color: $white;
			}
		}
	}
	.icons {
		.icon {
			align-items: center;
			margin-bottom: 140px;
			@include media-breakpoint-down(md) {
				text-align: center;
				margin-bottom: 60px;
			}
			.icon-image {
				padding: 0px;
				text-align: center;
				img {
					max-width: 220px;
				}
			}
			@include media-breakpoint-up(lg) {
				&:nth-of-type(odd) {
					display: flex;
					flex-direction: row-reverse;
					.icon-content {
						text-align: right;
					}
				}
			}
			.icon-content {
				@include media-breakpoint-up(lg) {
					max-width: 520px;
				}
				h2 {
					font-size: 36px;
					line-height: 44px;
					margin: 0px;
					color: $black;
					span.slash {
						color: $white;
					}
				}
				p {
					margin: 10px 0px;
				}
			}
		}
	}
}
