section.playbooks {
	@include media-breakpoint-up(lg) {
		.playbooks-heading h2 {
			padding-right: 160px;
		}
	}
	h2 {
		font-size: 36px;
		line-height: 44px;
		color: $black;
		strong {
			color: $color__brand-highlight;
			font-weight: 700;
		}
	}
	.playbook {
		margin-bottom: 60px;
		border-bottom: 1px solid #dedede;
		&:last-child {
			border: 0;
		}
		.playbook-content {
			margin-bottom: 60px;
			@include media-breakpoint-up(md) {
				padding: 0px 40px;
			}
			h2 {
				text-align: left;
			}
			ul {
				margin: 0px;
			}
		}
	}
}
