section.blueprints {
	.container {
		max-width: 1100px;
		margin: auto;
		img {
			max-width: 120px;
		}
		h2 {
			font-size: 26px;
			font-weight: 700;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $night-blue;
		}
		p {
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $slate-medium;
		}
	}
}
