section.contentform {
	@include media-breakpoint-up(lg) {
		padding: 100px 0px;
	}
	.row {
		align-items: center;
	}
	.content {
		/* @include media-breakpoint-up(lg) {
			padding-right: 120px;
		} */
		h2 {
			font-size: 32px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $night-blue;
		}
		p {
			font-size: 18px;
			font-weight: 300;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #50505d;
		}
		ul {
			margin: 0px;
			padding: 10px 20px;
			list-style: none;
			li {
				font-size: 18px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.44;
				letter-spacing: normal;
				color: #50505d;
				&::before {
					content: '\2022';
					color: $color__brand-highlight;
					font-weight: bold;
					display: inline-block;
					width: 1em;
					margin-left: -1em;
				}
			}
		}
	}
	.embed-form {
		background: $night-blue;
		padding: 25px;
		border-radius: 6px;
		@include media-breakpoint-up(lg) {
			padding: 60px 100px;
		}
		h2 {
			font-size: 25px;
			font-weight: 700;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $white;
			@include media-breakpoint-up(md) {
				font-size: 40px;
			}
		}
		span {
			color: white;
			font-size: 12px;
			font-weight: 400;
			font-family: $font__Fira_Mono;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-transform: uppercase;
		}
		.hs-input {
			width: 100%;
		}
		ul.no-list.hs-error-msgs {
			li {
				list-style-type: none;
				label {
					position: relative;
					left: -20px;
					font-size: 12px;
				}
			}
		}
	}
}
