section.cta {
	.container {
		max-width: 1060px;
		margin: auto;
		.cta-bg {
			border-radius: 14px;
			.cta-content {
				padding: 60px 20px;
				max-width: 560px;
				margin: auto;
				h2 {
					font-size: 40px;
					font-weight: 700;
					color: $white;
					margin: 0;
					@include media-breakpoint-down(md) {
						font-size: 36px;
					}
				}
				p {
					opacity: 0.79;
					font-size: 17px;
					letter-spacing: 0.89px;
					text-align: center;
					color: $white;
					margin: 10px 0px 35px;
				}
				.btn {
					background: $white;
					color: $color__brand-highlight;
					&:hover {
						background: $color__brand-highlight;
						color: $white;
					}
				}
			}
		}
	}
}
