section.hero {
	&.large-hero {
		display: flex;
		align-items: center;
		position: relative;
		padding: 120px 0px;
		@include media-breakpoint-up(lg) {
			padding: 130px 0px;
		}
		.container {
			max-width: 1200px;
		}
		h1 {
			font-size: 50px;
			line-height: 60px;
			font-weight: 700;
			margin: 0px;
			padding: 0px;
			color: $white;
			@include media-breakpoint-down(md) {
				font-size: 36px;
				line-height: 40px;
			}
		}
		p {
			color: $ice-grey-medium;
			font-size: 20px;
			padding: 25px 0px;
			margin: 0;
		}
		img.overlay-image {
			display: none;
		}
		@include media-breakpoint-up(lg) {
			img.overlay-image {
				display: block;
				position: absolute;
				right: 0;
				bottom: -162px;
				max-width: 800px;
			}
		}

		svg {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;
			width: auto;
			max-width: 50%;
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
		#pipes {
			stroke-width: 3px;
		}

		#dots {
			stroke: white;
			stroke-width: 3px;
			-webkit-animation: dots 3s linear infinite;
			animation: dots 3s linear infinite;
		}

		@keyframes dots {
			to {
				stroke-dashoffset: 300;
			}
		}

		@-webkit-keyframes dots {
			to {
				stroke-dashoffset: 300;
			}
		}
	}
	&.simple-hero {
		background: linear-gradient(to bottom, #f9fafb 80%, transparent 0%);
		@include media-breakpoint-up(lg) {
			padding-top: 40px;
		}
		.simple-hero-bg {
			display: flex;
			align-items: center;
			position: relative;
			padding: 80px 40px;
			margin: auto;
			border-radius: 6px;
			@include media-breakpoint-up(md) {
				padding: 120px 85px;
			}
			&.has-overlay {
				margin-top: 40px;
				margin-bottom: 150px;
			}
			.row {
				width: 100%;
				@include media-breakpoint-down(sm) {
					padding: 0;
					margin: 0;
				}
			}
			.hero-shape {
				border-top: 4px solid $color__brand-highlight;
				height: 39px;
				width: 220px;
				border-left: 4px solid $color__brand-highlight;
				position: absolute;
				left: -10px;
				top: -15px;
			}
			h1 {
				margin: 0px;
				padding: 0px;
				color: $white;
				@include media-breakpoint-down(md) {
					font-size: 30px;
					line-height: 40px;
				}
			}
			p {
				color: $ice-grey-medium;
				font-size: 20px;
				padding: 25px 0px;
				max-width: 600px;
				margin: 0;
				@include media-breakpoint-down(sm) {
					font-size: 18px;
				}
			}
			img.overlay-image {
				display: none;
			}
			@include media-breakpoint-up(lg) {
				img.overlay-image {
					display: block;
					right: 0;
					max-width: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					max-width: 475px;
					box-shadow: 0px 0px 10px 1px #dedede;
					border-radius: 6px;
				}
			}

			&.light {
				h1,
				p {
					color: $night-blue;
				}
			}
		}

		.tags {
			display: flex;
			align-items: center;

			p {
				padding: 5px 10px;
				font-size: 14px;
				color: #ffffff;
			}
		}

		.tag {
			padding: 5px 10px;
			border-radius: 3px;
			background:rgba(0,0,0, 0.7);
			text-transform: capitalize;
		}

		.tag + .tag {
			margin-left: 10px;
		}
	}
}
