section.team {
	.container {
		max-width: 1140px;
		margin: auto;
	}
	h2 {
		font-size: 40px;
		font-weight: 700;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 2.11px;
		color: $night-blue;
	}
	.team-item {
		margin-top: 60px;
		h2 {
			font-size: 26px;
			font-weight: 700;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $night-blue;
		}
		p {
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			color: $slate-medium;
			margin-bottom: 15px;
		}
		img {
			border-radius: 6px;
			object-fit: cover;
			object-position: top;
			width: 100%;
			min-height: 100vw;
			max-height: 100vw;
			@include media-breakpoint-up(md) {
				min-height: 55vw;
			}
			@include media-breakpoint-up(lg) {
				min-height: 310px;
			}
		}
		.social a {
			margin: 10px;
			&:first-child {
				margin-left: 0px;
			}
			&:last-child {
				margin-right: 0px;
			}
			svg {
				max-width: 25px;
			}
		}
	}
}
