section.twoup {
	@include media-breakpoint-up(xl) {
		margin-bottom: 100px;
	}
	&:last-child {
		margin-bottom: 60px;
	}
	.container {
		max-width: 1160px;
		margin: auto;
		.twoup-bg {
			border-radius: 4px;
			padding: 20px;
			@include media-breakpoint-up(xl) {
				padding: 90px 0px;
			}
			.row {
				align-items: center;
			}
			.twoup-image {
				img {
					margin: auto;
					/* box-shadow: 0px 5px 15px 0px #dedeed; */
					position: relative;
					top: 0;
					bottom: 0;
					border-radius: 10px;
					max-width: 100%;
					/* @include media-breakpoint-up(xl) {
						left: -41px;
					} */
					@include media-breakpoint-up(xl) {
						position: absolute;
					}
				}
			}

			h2 {
				font-size: 26px;
				font-weight: 700;
				color: $night-blue;
				margin-top: 0px;
			}
			p {
				margin: 19px 0 30px;
				font-size: 18px;
				color: $slate-medium;
			}
			@include media-breakpoint-up(lg) {
				.twoup-content {
					padding-left: 30px;
					padding-right: 112px;
				}
			}
			&.left {
				@include media-breakpoint-up(lg) {
					.twoup-content {
						padding-left: 112px;
					}
				}
			}
			&.right {
				.row {
					flex-direction: row-reverse;
				}
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.home {
		section.twoup {
			.twoup-bg {
				position: relative;
				&::after {
					content: '';
					display: block;
					background: url(images/line-graphic@2x.png);
					background-size: contain;
					background-repeat: no-repeat;
					width: 377px;
					height: 107px;
					position: absolute;
					right: 60px;
					bottom: -33px;
				}
			}
		}
	}
}
