* {
	-webkit-font-smoothing: antialiased;
}
section,
footer {
	padding: 60px 0px;
	&:first-child {
		padding: 0px;
	}
	.container {
		max-width: 1280px;
		margin: auto;
	}
}
header.entry-header {
	position: relative;
	overflow: hidden;
}

a.btn,
.btn,
.ab-button {
	background: $color__brand-highlight;
	color: $color__background-body;
	text-decoration: none;
}
a.btn.button,
.ab-button {
	padding: 16px 20px;
	font-size: 14px;
	text-transform: none;
	font-weight: 500;
	display: inline-block;

	@include media-breakpoint-up(lg) {
		font-size: 24px;
		padding: 15px 30px;
	}
	&.large {
		font-size: 30px;
		line-height: 35px;
		font-weight: 900;
		text-transform: uppercase;
		@include media-breakpoint-down(md) {
			font-size: 21px;
			line-height: 25px;
			padding: 12px 23px;
		}
	}
	&.medium {
		font-size: 24px;
		font-weight: 900;
		text-transform: uppercase;
	}
}

footer {
	background: $blue;
	padding: 60px 80px;
	.footer-gradient {
		height: 3px;
		background: linear-gradient(to right, #e39600, #dbdb69);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&.entry-footer {
		max-width: 1280px;
		margin: auto;
		background: transparent;
	}
	.site-footer {
		display: flex;
		justify-content: space-between;
		p {
			margin: 0;
			letter-spacing: 1px;
			font-size: 14px;

			a {
				text-decoration: none;
				font-weight: 400;
				text-transform: initial;
				color: $white;
			}
		}
		.footer-links {
			.row {
				justify-content: flex-end;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin-bottom: 15px;
				@include media-breakpoint-down(md) {
					margin-bottom: 10px;
				}
				a {
					text-decoration: none;
					color: $white;
					font-size: 18px;
					font-weight: 400;
					text-transform: initial;
					i {
						margin-right: 10px;
					}
				}
				&:last-child {
					margin-bottom: 0px;
					@include media-breakpoint-down(md) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	ul.privacy-links {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		li {
			margin-right: 10px;
			&:before {
				content: '';
				display: inline-block;
				border-left: 1px solid #fff;
				height: 15px;
				vertical-align: middle;
				margin-right: 10px;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				color: $white;
				text-decoration: none;
				text-transform: initial;
				font-weight: 400;
			}
		}
	}
}

/*--------------------------------------------------------------
## Page Specific
--------------------------------------------------------------*/
@import 'pages/home';

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import 'primary/posts-and-pages';

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import 'primary/comments';
