* {
	-webkit-font-smoothing: antialiased;
}
section,
footer {
	padding: 60px 0px;
	&:first-child {
		padding: 0px;
	}
	.container {
		max-width: 1600px;
		margin: auto;
	}
}
header.entry-header {
	position: relative;
	overflow: hidden;
}

a.btn,
.btn {
	background: $color__brand-highlight;
	color: $white;
	text-decoration: none;
	padding: 16px 50px;
	font-size: 14px;
	text-transform: none;
	font-weight: 500;
	display: inline-block;
	border-radius: 50px;
	text-transform: uppercase;
	@include media-breakpoint-up(lg) {
		font-size: 24px;
	}
	&.medium {
		font-size: 24px;
		font-weight: 900;
		text-transform: uppercase;
	}
	&.secondary {
		background: $color__brand-highlight;
	}
}
span.slash {
	color: $color__brand-highlight;
}
section.hero {
	display: flex;
	align-items: center;
	position: relative;
	padding: 7% 0px;
	color: $white;
	h1 {
		text-transform: uppercase;
		color: $white;
		letter-spacing: 0.62px;
		padding: 0px;
	}
	p {
		font-size: 24px;
	}
	a {
		margin-top: 20px;
	}
}
section.start-form {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10% 0px;
	color: $white;
	.row {
		align-items: center;
	}
	h2 {
		text-transform: uppercase;
		color: $white;
		letter-spacing: 0.49px;
		padding: 0px;
		margin: 0px;
	}
	p {
		font-size: 24px;
		letter-spacing: 0.24px;
		color: $white;
	}
}
.gradient-line {
	height: 6px;
	background: linear-gradient(to right, #e39600, #dbdb69);
	width: 100%;
}
footer {
	background: $black;
	padding: 60px 80px;
	position: relative;
	.gradient-line {
		position: absolute;
		top: 0;
		left: 0;
	}
	&.entry-footer {
		max-width: 1280px;
		margin: auto;
		background: transparent;
	}
	.site-footer {
		display: flex;
		justify-content: space-between;
		p {
			margin: 0;
			letter-spacing: 1px;
			font-size: 14px;

			a {
				text-decoration: none;
				font-weight: 400;
				text-transform: initial;
				color: $white;
			}
		}
		.footer-links {
			.row {
				justify-content: flex-end;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				margin-bottom: 15px;
				@include media-breakpoint-down(md) {
					margin-bottom: 10px;
				}
				a {
					text-decoration: none;
					color: $white;
					font-size: 18px;
					font-weight: 400;
					text-transform: initial;
					i {
						margin-right: 10px;
					}
				}
				&:last-child {
					margin-bottom: 0px;
					@include media-breakpoint-down(md) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	ul.privacy-links {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		li {
			margin-right: 10px;
			&:before {
				content: '';
				display: inline-block;
				border-left: 1px solid #fff;
				height: 15px;
				vertical-align: middle;
				margin-right: 10px;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				color: $white;
				text-decoration: none;
				text-transform: initial;
				font-weight: 400;
			}
		}
	}
}

/*--------------------------------------------------------------
## Page Specific
--------------------------------------------------------------*/
@import 'pages/pages';

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import 'primary/posts-and-pages';

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import 'primary/comments';
