* {
	-webkit-font-smoothing: antialiased;
}
section,
footer {
	padding: 60px 0px;
	&:first-child {
		padding: 0px;
	}
	.container {
		max-width: 1270px;
		margin: auto;
	}
}
header.entry-header {
	position: relative;
	overflow: hidden;
}

a.btn,
.btn {
	background: $color__brand-highlight;
	color: $white;
	text-decoration: none;
	padding: 16px 31px;
	font-size: 17px;
	line-height: 1.12;
	letter-spacing: 0.89px;
	text-transform: none;
	font-weight: 500;
	display: inline-block;
	border-radius: 4px;
	text-transform: uppercase;
	&.btn-secondary {
		padding: 5px 19px 6px 20px;
		border-radius: 5px;
		border: solid 1px $night-blue;
		background-color: $white;
		font-size: 12px;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.33px;
		text-align: center;
		color: $night-blue;
		span {
			margin: 0 0 1px 8px;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.39px;
			text-align: center;
			color: $color__brand-highlight;
			font-family: $font__Fira_Mono;
		}
	}
}
span.slash {
	color: $color__brand-highlight;
}
section.start-form {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10% 0px;
	color: $white;
	.row {
		align-items: center;
		justify-content: center;
	}
	h2 {
		text-transform: uppercase;
		color: $white;
		letter-spacing: 0.49px;
		padding: 0px;
		margin: 0px;
	}
	p {
		font-size: 24px;
		letter-spacing: 0.24px;
		color: $white;
		@include media-breakpoint-up(lg) {
			padding: 0px 60px;
		}
	}
	img {
		width: 100%;
	}
}
.gradient-line {
	height: 7px;
	background: $ice-grey-medium;
	width: 100%;
}
footer {
	background: $blue;
	padding: 60px 15px;
	position: relative;
	margin-top: 60px;
	@include media-breakpoint-up(lg) {
		padding: 60px 80px;
	}
	.gradient-line {
		position: absolute;
		top: 0;
		left: 0;
	}
	&.entry-footer {
		max-width: 1280px;
		margin: auto;
		background: transparent;
	}
	.site-footer {
		display: flex;
		justify-content: space-between;
		p {
			margin: 0;
			letter-spacing: 1px;
			font-size: 14px;

			a {
				text-decoration: none;
				font-weight: 400;
				text-transform: initial;
				color: $white;
			}
		}
		.footer-links {
			.row {
				justify-content: flex-end;
				margin-left: unset;
				margin-right: unset;
			}
		}
		.footer-group-menu {
			padding: 0px;
			h3 {
				font-size: 16px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $white;
				text-transform: uppercase;
				margin-top: 0px;
				margin-bottom: 10px;
			}
			@media screen and (min-width: 2000px) {
				&:first-child {
					&::after {
						content: '';
						height: 100%;
						width: 2px;
						background: #7b8386;
						top: 0;
						position: absolute;
						left: 55%;
					}
				}
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			line-height: 1;
			li {
				margin-bottom: 10px;
				a {
					text-decoration: none;
					color: $ice-grey;
					font-size: 16px;
					font-weight: 500;
					text-transform: initial;
					i {
						margin-right: 10px;
						display: inline;
					}
				}
				&:last-child {
					margin-bottom: 0px;
					@include media-breakpoint-down(md) {
						margin-bottom: 10px;
					}
				}
			}
			&.social {
				display: flex;
				margin: 20px 0px;
				li {
					margin-right: 20px;
					i {
						font-size: 32px;
						color: #7b8386;
					}
				}
			}
		}
	}
	.privacy {
		.copyright {
			font-size: 16px;
			color: $ice-grey-medium;
			margin-bottom: 10px;
			font-family: $font__Fira_Mono;
		}
	}
	ul.privacy-links {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		li {
			margin-right: 10px;
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				color: $ice-grey-medium;
				text-decoration: none;
				text-transform: initial;
				font-size: 12px;
				font-weight: 500;
			}
		}
	}
}

#mag {
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 22px;
	}
	p {
		font-size: 18px;
	}
	ul {
		margin-left: 0px;
		font-size: 18px;
	}
}

/*--------------------------------------------------------------
## Page Specific
--------------------------------------------------------------*/
@import 'pages/pages';

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import 'primary/posts-and-pages';

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import 'primary/comments';
