h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__main;
	clear: both;
	color: $blue;
	font-weight: 500;
}
h1 {
	font-size: 62px;
	line-height: 75px;
	margin: 0;
	padding: 40px 0px;
	font-weight: 700;
	@include media-breakpoint-down(md) {
		font-size: 36px;
		padding: 0;
		line-height: 40px;
	}
	strong {
		font-weight: 700;
		color: $color__brand-highlight;
	}
}
h2 {
	font-size: 52px;
	line-height: 64px;
	font-weight: 700;
	@include media-breakpoint-down(md) {
		font-size: 36px;
		padding: 0;
		line-height: 40px;
	}
	&.small {
		font-size: 36px;
		line-height: 44px;
	}
}
h3 {
	font-size: 28px;
	line-height: 29px;
	font-weight: 700;
}
