h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__main;
	clear: both;
	color: $night-blue;
	font-weight: 500;
}
h1 {
	font-size: 40px;
	line-height: normal;
	margin: 0;
	padding: 40px 0px;
	font-weight: 700;
	@include media-breakpoint-down(md) {
		font-size: 36px;
		padding: 0;
	}
	strong {
		font-weight: 700;
		color: $color__brand-highlight;
	}
}
h2 {
	font-size: 32px;
	line-height: nomal;
	font-weight: 700;
	@include media-breakpoint-down(md) {
		font-size: 26px;
	}
}
h3 {
	font-size: 26px;
	line-height: normal;
	font-weight: 700;
}
