/* 
400	Normal
700	Bold
800	Extra Bold
900	Black 
*/

// stylelint-disable value-keyword-case
$font__main: 'proxima-nova', sans-serif;
$font__itc: 'proxima-nova';

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', courier, monospace;
$font__size: 1.5rem;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: $font__main;
	font-size: $font__size;
	line-height: $font__line-height-body;
}

@import 'headings';
@import 'copy';
