a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__brand-highlight;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&.arrow-link {
		color: $color__brand-highlight;
		text-decoration: none;
		margin: 10px 0px;
		display: inline-block;
		.icon-chevrons-right {
			position: relative;
			top: 1px;
		}
	}
}
